:root {
  box-sizing: border-box;
}

body {
  background: #fff;
}

p {
  margin: 0;
}

/* 헤더 */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 90px;
  flex-shrink: 0;
  background: #fff;
  border-bottom: 1px solid #ebebeb;
  margin: 0 auto;
}

/* 헤더 로고 */
.logo {
  display: flex;
  position: relative;
  width: 60px;
  height: 30px;
  margin: 28px 63px 32px 38px;
}

.logo-text {
  color: #1d1f24;
  font-family: 'Lato';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.369px;
}

.logo-dot {
  position: absolute;
  top: 20px;
  left: 56px;
  width: 4px;
  height: 4px;
}

/* 헤더 네비 */
.nav-box {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 59px;
  margin: 34px auto 35px 0;
}

.nav-item p {
  color: #1d1f24;
  font-family: 'Oswald';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  opacity: 0.2;
}

/* 헤더 메뉴 아이콘 */
.menu-icon {
  margin: 37px 40px 37px auto;
}

/* 메인 박스 */
.container {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0 120px;
  background: #f9fafc;
}

.main-box {
  display: grid;
  margin: 0 45px 0 40px;
  width: 1355px;
  height: calc(1096px + 93px);
  grid-template-columns: 316px 316px 316px 316px;
  grid-template-rows: 274px 274px 274px 274px;
  row-gap: 31px;
  column-gap: 33px;
}

.pink-box {
  display: flex;
  background: #ff565c;
  color: #fff;
  font-family: 'Oswald';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.main-content:nth-child(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  position: relative;
}

.main-content:nth-child(1) .content-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background: url('./image/green-chameleon-176136.png'),
    lightgray 0px 0px / 100% 100% no-repeat;
  flex-direction: column;
  align-items: center;
}

.main-content:nth-child(1) .pink-box {
  width: 107px;
  height: 40px;
  margin: 146px auto 30px;
}

.main-content:nth-child(1) .pink-box p {
  margin: 9px 25px 10px 25px;
}

.title-white {
  color: #fff;
  text-align: center;
  font-family: 'Oswald';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: -0.471px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.text-white {
  color: #fff;
  text-align: center;
  font-family: 'Lato';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.content-footer {
  display: flex;
  margin: auto auto 30px;
  width: 185px;
  height: 30px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.content-footer-item {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.content-footer-item p {
  color: #fff;
  font-family: 'Lato';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.main-content:nth-child(1) .left-arrow {
  position: absolute;
  top: 266px;
  left: 0;
}

.main-content:nth-child(1) .right-arrow {
  position: absolute;
  top: 266px;
  right: 0;
}

.main-content:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  border: 1px solid #f2f3f6;
  background: #fff;
}

.main-content:nth-child(2) .content-list-title {
  color: #1d1f24;
  margin-top: 35px;
  margin-left: 27.5px;
  margin-bottom: 6px;
  font-family: 'Oswald';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.531px;
  text-transform: uppercase;
}

.main-content:nth-child(2) .content-list-item {
  width: 316px;
  height: 83px;
  display: flex;
  border-bottom: #f2f3f6 1px solid;
}

.main-content:nth-child(2) .content-list-item:last-child {
  border-bottom: 0;
}

.main-content:nth-child(2) .content-list-item span {
  color: #1d1f24;
  font-family: 'Oswald';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.1662;
  margin-left: 27px;
  margin-top: 3px;
}

.main-content:nth-child(2) .content-list-item p {
  color: #1d1f24;
  font-family: 'Lato';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.2px;
  margin-left: 26px;
}

.main-content:nth-child(3) {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.main-content:nth-child(3) .content-bg {
  width: 100%;
  height: 100%;
  background: url(./image/oliur-rahman-272875.png),
    lightgray 0px 0px/ 100% 100% no-repeat;
  background-size: cover;
}

.main-content:nth-child(3),
.main-content:nth-child(4),
.main-content:nth-child(5),
.main-content:nth-child(6),
.main-content:nth-child(8) {
  position: relative;
}

.main-content:nth-child(3) .pink-box,
.main-content:nth-child(4) .pink-box,
.main-content:nth-child(5) .pink-box,
.main-content:nth-child(6) .pink-box,
.main-content:nth-child(8) .pink-box {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 107px;
  height: 40px;
}

.main-content:nth-child(3) .pink-box p,
.main-content:nth-child(4) .pink-box p,
.main-content:nth-child(5) .pink-box p,
.main-content:nth-child(6) .pink-box p,
.main-content:nth-child(8) .pink-box p {
  margin: 9px 23px 10px 25px;
}

.main-content:nth-child(3) .pink-box {
  width: 157px;
  height: 40px;
}

.title-white-small {
  position: absolute;
  top: 89px;
  left: 25px;
  color: #fff;
  font-family: 'Lato';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 125% */
  letter-spacing: -0.2px;
}

.main-content:nth-child(3) .content-footer,
.main-content:nth-child(4) .content-footer,
.main-content:nth-child(5) .content-footer,
.main-content:nth-child(6) .content-footer,
.main-content:nth-child(8) .content-footer {
  position: absolute;
  top: 223px;
  left: 28px;
}

.main-content:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.main-content:nth-child(4) .content-bg {
  width: 100%;
  height: 100%;
  background: url(./image/igor-son-285029.png),
    lightgray 0px 0px / 100% 100% no-repeat;
}

.main-content:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.main-content:nth-child(5) .content-bg {
  width: 100%;
  height: 100%;
  background: url(./image/crew-22235.png),
    lightgray 0px 0px / 100% 100% no-repeat;
}

.main-content:nth-child(6) .content-bg {
  width: 100%;
  height: 100%;
  background: url(./image/oliur-rahman-123819.png),
    lightgray 0px 0px / 100% 100% no-repeat;
}

.main-content:nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: row;
  background: #ff565c;
}

.main-content:nth-child(7) .text-white,
.main-content:nth-child(7) .title-white {
  text-align: left;
}

.main-content:nth-child(7) .title-white {
  margin-top: 30px;
  margin-left: 25px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 49px; /* 153.125% */
  letter-spacing: -0.471px;
  text-transform: uppercase;
}

.main-content:nth-child(7) .text-white {
  margin-top: 20px;
  margin-left: 25px;
  color: #fff;
  font-family: 'Lato';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.read-button {
  display: flex;
  padding: 0;
  margin-top: 30px;
  margin-left: 25px;
  width: 210px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #ff565c;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.read-button p {
  color: #fff;
  text-align: center;
  font-family: 'Oswald';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.main-content:nth-child(8) .content-bg {
  width: 100%;
  height: 100%;
  background: url(./image/dose-media-344938.png),
    lightgray 0px 0px / 100% 100% no-repeat;
}

.main-content:nth-child(8) .pink-box {
  width: 137px;
  height: 40px;
}

.main-content:nth-child(8) .pink-box p {
  margin: 9px 24px 10px 25px;
}

/* 푸터 */
footer {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  height: 160px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #1d1f24;
}

.logo-box {
  display: flex;
  height: 160px;
  flex-direction: column;
}

footer .logo {
  margin-top: 40px;
  margin-left: 38px;
  margin-bottom: 6px;
}

footer .logo-text {
  color: #f9fafc;
  font-family: 'Lato';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  letter-spacing: -0.369px;
}

.logo-form {
  margin-left: 38px;
  color: #fff;
  font-family: 'Lato';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

footer .nav-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  row-gap: 12px;
  justify-content: flex-start;
  margin: 50px 171px 56px auto;
  width: 657px;
  height: 54px;
}

footer .nav-item {
  width: 200px;
  height: 21px;
}

footer .nav-box p {
  color: #fff;
  font-family: 'Oswald';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.follow-box {
  display: flex;
  margin-right: 40px;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 15px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  width: 194px;
}

.social p {
  color: #fff;
  font-family: 'Lato';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  opacity: 0.7;
}

.input-box {
  display: flex;
}

.input-box input {
  width: 180px;
  height: 35px;
  color: #1d1f24;
  font-family: 'Lato';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  border: 0;
  padding: 0;
  padding-left: 15px;
}

.subscribe {
  margin: 0;
  border: 0;
  width: 120px;
  height: 35px;
  padding: 9px 27px 8px;

  color: #fff;
  background: #ff565c;
  text-align: center;
  font-family: 'Oswald';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 768px) {
  header {
    width: 768px;
    height: 90px;
  }

  header .nav-box {
    display: none;
  }
}
